<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/welcome.css">
        <title>Welcome Page</title>
    </head>
    <body>
        <header id="top-header">
            <div id="header-content">
                <div id="name">
                    <a href="/profile"><h5>Hello! {{name}}</h5></a>
                </div>
                <div id="logo">
                    <img src="/static/images/temp logo.jpg" alt="logo.jpg">
                </div>
            </div>
        </header>
        
                
        <h1> Welcome to the site!</h1>
    </body>
</html>